
html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  color: #ff00cc;
  transition: all .3s ease-in-out;
}

a:focus, button:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.bg-fixed {
  background-size: cover;
}

/* Navbar */

#header-navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.navbar-nav .nav-link {
  color: #fff;
  transition: .3s ease;
}

.navbar-toggler {
  font-size: 2rem;
  color: #fff;
}

/* Me section */

.jumbotron {
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 100vh;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}

.jumbotron:before {
  position: absolute;
  display: block;
  content: "";
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #333399, #ff00cc);
}

.jumbotron h1 {
  line-height: .9;
  font-weight: bold;
  display: inline-block;
  border: 15px solid #fff;
  padding: 30px;
  font-size: 9rem;
  opacity: 0;
  animation: fadeInFromTop cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
  animation-delay: .8s;
}

/* Animaciones */

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Título Me */

#me {
  background: linear-gradient(to right, #333399, #ff00cc); /* Gradiente rosa-violeta */
  color: white;
  text-align: center;
  padding: 120px 20px;
  border-bottom: 5px solid #fff; /* Línea decorativa */
}

#me h1 {
  font-size: 4rem;
  font-weight: bold;
}

#me h2 {
  font-size: 2rem;
  font-weight: lighter;
  margin-top: 10px;
}

/*Secciones Generales*/

section {
  padding: 100px 20px;
  position: relative;
  border-bottom: 5px solid #f2f2f2; /* Línea suave entre secciones */
}

#sobre-mi, #contacto {
  background: white;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px 20px;
  margin-bottom: 40px;
  color: purple;
}

#proyectos {
  background: linear-gradient(to right, #333399, #ff00cc);
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px 20px;
  margin-bottom: 40px;
  color: white;
}

/*Estilos para las Secciones*/

#sobre-mi h2, #contacto h2 {
  color: purple;
}

#proyectos h2 {
  margin-bottom: 70px;
  color: white;
}

#contacto::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 10px;
  background: linear-gradient(to right, #333399, #ff00cc);
}

/*Tarjetas de Proyectos*/

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
  background: white;
  color: #ff00cc;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 30px;
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.card-text {
  color: #333;
  font-size: 1rem;
}

.card-footer {
  background-color: #fff;
  color: #333;
  border-top: none;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

.card-footer:hover {
  color: #ff80ab;
}

/*Estilos para la sección Sobre mí */

#sobre-mi {
  background: white;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 60px 30px;
  margin: 50px auto;
  max-width: 80%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sobre-mi h1 {
  font-size: 2.5rem;
  color: #b30b83;
  margin-bottom: 20px;
}

#sobre-mi h2 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.8;
  color: #555;
  max-width: 90%;
}

/* Estilos para la sección de Contacto */

#contacto {
  background: white;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 100px 40px;
  margin: 50px auto;
  min-height: 400px;
  position: relative;
}

#contacto::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 10px;
  background: linear-gradient(to right, #333399, #ff00cc);
}

/* Botones */

.btn-primary {
  background-color: #6a0dad; 
  border-color: #6a0dad;
  color: white;
}

.btn-primary:hover {
  background-color: #5e0ca0; 
  border-color: #5e0ca0;
}

/*Ajustes para la disposición de las secciones*/

.section-content {
  padding-top: 300px;
  padding-bottom: 200px;
  position: relative;
}

#sobre-mi {
  margin-bottom: 130px; 
}

#proyectos {
  padding-top: 100px; 
  margin-top: 200px; 
  min-height: 600px;
}

/* Media Queries para dispositivos pequeños */
@media (max-width: 767px) {
  #me h1 {
    font-size: 10vw;  
  }

  #me h2 {
    font-size: 5vw;
  }

  .navbar-brand {
    font-size: 1.5rem; 
  }
  
  .navbar-nav {
    font-size: 1rem; 
  }
}

/* Para iPhone SE, que tiene una resolución más pequeña */
@media (max-width: 320px) {
  #me h1 {
    font-size: 12vw; 
  }
}